<!DOCTYPE html>
<html>
	<head>
		<title><%= (typeof(title) != "undefined")?title + ' - ':'' %>Project Manager</title>
		<link href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body>
