<% include ../partials/header %>
<form id='login' method='POST' class='col-md-4 col-md-offset-4'>
	<div class="form-group">
		<label class="sr-only" for="usuario_email">E-Mail</label>
		<input type="text" class="form-control" require='true' name='usuario[email]' id='usuario_email' placeholder='E-mail' />
	</div>
	<div class="form-group">
		<label class="sr-only" for="usuario_senha">Senha</label>
		<input type="password" class="form-control" require='true' name='usuario[senha]' id='usuario_senha' placeholder='Senha' />
	</div>
	<input type='submit' value='Entrar' class="btn btn-default" />
</form>
<% include ../partials/footer %>